.gridContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.gridItem {
    margin: 0;
}

.gridXS1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}

.gridXS2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
}

.gridXS3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}

.gridXS4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}

.gridXS5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}

.gridXS6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}

.gridXS7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
}

.gridXS8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
}

.gridXS9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
}

.gridXS10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
}

.gridXS11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
}

.gridXS12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.gridSpacingXS3 > .gridItem {
    padding: 12px;
}

.gridSpacingXS2 > .gridItem {
    padding: 8px;
}

.gridSpacingXS1 > .gridItem {
    padding: 4px;
}
