.button {
    color: #9e9e9e;
    padding: 6px 16px;
    min-width: 64px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 6px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.colorprimary {
    background-color: #f66623;
    color: white;
    border: 0;
}

.small {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
}

.medium {
    font-size: 0.875rem;
}

.disabled {
    pointer-events: none;
}

.button:focus {
    outline: none;
}

.isLoading {
    pointer-events: none;
}

.fullWidth {
    width: 100%;
}
