.appBar {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}

.shadow {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.fixed {
    position: fixed;
    width: 100%;
}

.absolute {
    position: absolute;
    width: 100%;
}

.sticky {
    position: sticky;
}

.static {
    position: static;
}
