.text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    flex-grow: 10;
}

.new {
    color: #f66623;
    font-weight: bold;
    cursor: pointer;
}

.toolbar {
    background-color: white;
}
