.root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileUploadContainer {
    border: 5px dotted #cccccc;
    padding: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.fileInput {
    display: none;
}
