.root {
    display: flex;
}

.fileSelectorRoot {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileSelectorContainer {
    width: 40%;
    height: 60%;
}

.editorRoot {
    display: flex;
}
