.input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.input:focus {
    outline: none;
}

.inputWrapper {
    border: #cccccc solid 1px;
    border-radius: 4px;
    padding: 12px 14px;
}

.fullWidth {
    width: 100%;
}

.error {
    border: #f44336 solid 1px;
}

.helperError {
    color: #f44336;
}
