.imageRoot {
    display: flex;
    height: calc(100vh - 56px);
    background-color: #e1e4e8;
    justify-content: center;
    align-items: center;
}
.component {
    background: url(../../assets/images/gridme.png) repeat center center;
    padding: 4em;
    max-height: 95%;
    border: 3px solid #49708a;
    max-width: 95%;
    overflow: auto;
    height: 95%;
    width: 95%;
}

.imageContainer {
    position: relative;
}

.imageContainer > img {
    user-select: none;
}

.crop {
    position: absolute;
    z-index: 999;
    border: solid 2px black;
    cursor: pointer;
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.select {
    padding: 10px;
    border-radius: 4px;
}

.mt8 {
    margin-top: 8px;
}

.mt12 {
    margin-top: 12px;
}
